.skillBox {
  /* background: red; */
  width: 10vw;
  display: flex;
  flex-direction: column;
}

.skillImg {
  width: 100%;
}

.skillText {
  text-align: center;
  font-size: 1.5vw;
  margin: 10px 0;
  color: var(--navText);
  font-weight: 600;
}
