/******************************* Colors *******************************/
:root {
  --darkBlue: #1f6586;
  --navBackground: #e5eaf2;
  --navText: #41484d;
}

.start {
  display: flex;
  height: 100vh;
}

/******************************* Pages *******************************/
main {
  width: 79vw;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar */
main::-webkit-scrollbar {
  display: none; /* Chrome, Opera, Safari */
}

.projects {
  width: 100%;
  height: 100vh;
  background: blue;
}

.contact {
  width: 100%;
  height: 100vh;
  background: red;
}